.body{
    background-color: #cbf0f8b8;
}
.heading{
    text-align: center;
    color: #49096e;
    font-family: cursive ;
    font-size: 40px;
}
.img{
    height: 200px; width: 200px;
    margin-left: 650px;
}
.nav{
    background-color: #350064; text-align: center;
    height: 40px; width: 1535px;  margin: 10px -8px;
}
.nav_items{
    text-decoration:none; color: white; padding: 0px 5dvb; 
    font-family: cursive; font-size: 20px;
}